<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
</head>
<body>
    <div class="fluid">
        <h1>About us</h1>
    </div>
    <div class="fluid">
        <h2>Subtitle</h2>
    </div>
    <div class="fluid">
        <p>This is deffinitly a Page!</p>
    </div>
</body>
</html>