<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class="fluid">
        <h1>Kanye Home Page</h1>
    </div>
    <div class="fluid">
        <h2>The GOAT</h2>
    </div>
</body>
</html>